@model IEnumerable<QuanLyKho.Models.Entities.HinhAnh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenIMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathFile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HangHoa.TenHH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenIMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PathFile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaIMG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaIMG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaIMG })
        </td>
    </tr>
}

</table>
